:root {
    --green : #7AFF80;
}

@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body {
    background-color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
}

.section-3 .makanan-title {
    height: 10vh;
    margin: 50px 0;
    color: #585858;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    /* line-height: 100%; 20.88px */
}

.section-3 .makanan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 57px; */
}

.section-3 .card {
    width: 75%;
    display: flex;
    /* border: solid #ffdeaf 1px; */
    border-radius: 10px;
    box-shadow: 0px 1px 15px #ffdeaf;
}

.section-3 .even{
    flex-direction: row-reverse;
}

.section-3 .card-text {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 40%;
}

.section-3 .card-title {
    color: #585858;
    font-size: 3rem;
    font-weight: 700;
    line-height: 110%; /* 52.8px */
}

.section-3 .card-desc {
    color: #616161;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 140%; /* 25.2px */
}

.section-3 .makanan button {
    width: 100%;
    padding: 20px 0;
    border-style: none;
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    background-color: #EDB668;
    cursor: pointer;
}

.section-3 .card-img{
    width: 60%;
}

.section-3 .card-img img{
    width: 100%;
    height: auto;
    border-radius: 0 9px 9px 0;
    /* object-fit: cover; */
}

.section-3 .even img{
    border-radius: 9px 0 0 9px;
}

@media only screen and (max-width: 768px){
    .section-3 .makanan {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:50px;
    }

    .section-3 .makanan-title{
        font-size: 36px;
        margin: 50px 0;
    }

    .section-3 .card{
        width: 75%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .section-3 .card-img img{
        border-radius: 9px 9px 0 0;
    }

    .section-3 .card-img{
        width: 100%;
    }

    .section-3 .card-text{
        width: 80%;
        padding: 30px 30px;
    }
    .section-3 .card-desc{
        font-size: 16px;
    }

    .section-3 .card-title{
        font-size: 36px;
    }

    .section-3 .card button{
        padding: 15px 0;
        font-size: 16px;
    }
}