:root {
    --green: #7AFF80;
}

@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body {
    background-color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
}

.section-shalat {
    padding: 80px 0;
}

.heading-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 140%;
    width: 100%;
    gap: 24px;
}

.heading-text {
    color: #585858;
    width: 80%;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    /* 89.6px */
    letter-spacing: -1.28px;
    max-width: 1171px;
}

.heading-box button {
    width: 15%;
    height: 6vh;
    background-color: #edb668;
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    /* 44.8px */
    letter-spacing: -0.64px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.shalat-box {
    display: flex;
    margin: 80px 0;
    justify-content: space-between;
    opacity: 1;
    transition: all 1s;
    padding: 0 120px;
    gap: 20px;
    height: auto;
    /* grid-template-rows: 1fr; */
}

/* .shalat-box .wrapper{
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 200ms;
} */

.hide {
    transition: all 1s;
    height: 300px;
}

.shalat-box .arabic {
    font-size: 2.25rem;
    text-align: start;
    margin: 0;
}

.shalat-desc {
    color: #585858;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    text-align: justify;
}

.shalat-title {
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 102%;
    /* 65.28px */
    letter-spacing: -1.28px;
}

.ayat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 20px; */
}

.section-shalat .arti {
    font-size: 20px;
    font-weight: 300;
    line-height: 140%;
    text-align: justify;
}

.shalat-text {
    font-size: 24px;
    font-weight: 300;
    line-height: 140%;
    /* letter-spacing: -0.48px; */
}

.shalat-img {
    width: 45%;
    display: flex;
    align-items: center;
}

.shalat-img img {
    width: 100%;
    height: auto;
}

.hide {
    transform: scale(0.5);
    margin-bottom: -350px;
    opacity: 0;
    z-index: -1;
    position: relative;
}

@media only screen and (max-width: 768px) {
    .section-shalat .heading-text {
        width: 85%;
        line-height: 110%;
        font-size: 3rem;
    }

    .heading-box button {
        width: 70%;
        background-color: #edb668;
        color: #ffffff;
        font-size: 25px;
        border: none;
        border-radius: 3px;
    }

    .shalat-box {
        /* display: flex;
        flex-direction: column-reverse;
        margin: 40px 100px;
        justify-content: center;
        align-items: center; */
    }

    .shalat-box {
        flex-direction: column-reverse;
        margin: 40px auto;
        justify-content: center;
        align-items: center;
        padding: 0 40px;
    }

    .shalat-desc {
        color: #585858;
        margin-top: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .shalat-img {
        width: 100%;
        height: auto;
    }

    .section-shalat .arabic {
        font-size: 32px;
    }
}